.navbar-fijo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* evita que el contenido quede debajo */
body {
  padding-top: 160px;
}.navbar-fijo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* evita que el contenido quede debajo */
body {
  padding-top: 160px;
}
   header{
        background-color: #e9ecef;
     }

        .social {
            position: fixed;
            left: 0;
            top: 200px;
            z-index: 2000;
        }

        .social ul {
            list-style: none;
        }

        .social ul li a {
            display: inline-block;
            color: #ffffff;
            background: #000;
            padding: 10px 15px;
            text-decoration: none;
        }

        .social ul li .icon-facebook {
            background-color: #000;
        }

        .social ul li .icon-twitter {
            background-color: #000;
        }

        .social ul li .icon-pinterest {
            background-color: #000;
        }

        .social ul li .icon-instagram {
            background-color: #000;
        }

        .social ul li .icon-youtube {
            background-color: #000;
        }

        .social ul li a:hover {
            padding: 10px 30px;
            background: #016098;
        }

        
            /*footer*/
        .footer-basic {
            background-color: #a8a5a5e6;
            /* gris */
            color: #575555;
          
        }

        .footer-basic .social a {
            color: rgb(9, 9, 9);
            font-size: 24px;
            margin: 0 10px;
            text-decoration: none;
        }

        .footer-basic .list-inline {
            padding: 0;
            margin: 15px 0;
        }

        .footer-basic .list-inline a {
            color: rgb(10, 10, 10);
            text-decoration: none;
            margin: 0 10px;
        }

        .footer-basic .list-inline a:hover {
            text-decoration: underline;
        }

        .footer-basic .copyright {
            margin-top: 15px;
            font-size: 14px;
            opacity: 0.8;
        }